/* *{
    border:red 1px solid;
} */
hr{
    width:60%;
}

.parent{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

ul{
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    padding:0;
    color:orange;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height:15vh;
    background-color: #2e2d2d;
}

.nav-img{
    display:flex;
    width:10%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color:green;
   
}

.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
} 

/* .rescue{
    margin-left:2%;
    width:15%;
}  */

header{
    width:100%;
    display: flex;
    justify-content: center;
    height:55vh;
}
header div{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: darkorange;
}

.rsi-service{
    width:100%;
    display:flex;
    justify-content: center;
    margin-bottom:3%;
    margin-top: 5%;
}

.net-service{
    width:100%;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    margin-top:3%;
}

.rsi-support{
    width:100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top:3%;
}

.POS-systems{
    width:100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top:3%;
}
.section-banner-RSI {
    width:60%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    background-color: darkblue;
}

.section-banner-RSI h1{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.section-banner {
    width:60%;
    display:flex;
    justify-content: center;
    align-items: center;
    height:55vh;
    background-color: grey;
}



.section-banner h1{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.pair{
    display:flex;
    justify-content: center;
    width:60%;
    height:25vh;
    align-items: center;
}

.pair div{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width:50%;
    height: 100%;
}


.pre-footer{
    width:100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: rgba(26,26,26,.7);
}

.pre-footer-width{
    width:60%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom:3%;
}

.pre-footer-section{
    width:45%;
    text-align: left;
}

.pre-footer-section p{
    height:10vh;
    display:flex;
    align-items: center;
    justify-content: center;
  
}

footer{
    width:100%;
    background-color: #1f1f1f;
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
    color:white;
    
}

.footer-width{
    width:60%;
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top:3%;
}

.address{
    width:50%;
}

/* .address p{
   width:80%;
} */

.footer-img{
    height:45vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
}

